<!--
SPDX-FileCopyrightText: 2021-2 Galagic Limited, et al. <https://galagic.com>

SPDX-License-Identifier: AGPL-3.0-or-later

figular generates visualisations from flexible, reusable parts

For full copyright information see the AUTHORS file at the top-level
directory of this distribution or at
[AUTHORS](https://gitlab.com/thegalagic/figular/AUTHORS.md)

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<option {{ if eq .default "Black" }}selected{{ end }} label="Black">Black</option>
<option {{ if eq .default "black" }}selected{{ end }} label="black">black</option>
<option {{ if eq .default "blue" }}selected{{ end }} label="blue">blue</option>
<option {{ if eq .default "brown" }}selected{{ end }} label="brown">brown</option>
<option {{ if eq .default "chartreuse" }}selected{{ end }} label="chartreuse">chartreuse</option>
<option {{ if eq .default "Cyan" }}selected{{ end }} label="Cyan">Cyan</option>
<option {{ if eq .default "cyan" }}selected{{ end }} label="cyan">cyan</option>
<option {{ if eq .default "darkblue" }}selected{{ end }} label="darkblue">darkblue</option>
<option {{ if eq .default "darkbrown" }}selected{{ end }} label="darkbrown">darkbrown</option>
<option {{ if eq .default "darkcyan" }}selected{{ end }} label="darkcyan">darkcyan</option>
<option {{ if eq .default "darkgray" }}selected{{ end }} label="darkgray">darkgray</option>
<option {{ if eq .default "darkgreen" }}selected{{ end }} label="darkgreen">darkgreen</option>
<option {{ if eq .default "darkgrey" }}selected{{ end }} label="darkgrey">darkgrey</option>
<option {{ if eq .default "darkmagenta" }}selected{{ end }} label="darkmagenta">darkmagenta</option>
<option {{ if eq .default "darkolive" }}selected{{ end }} label="darkolive">darkolive</option>
<option {{ if eq .default "darkred" }}selected{{ end }} label="darkred">darkred</option>
<option {{ if eq .default "deepblue" }}selected{{ end }} label="deepblue">deepblue</option>
<option {{ if eq .default "deepcyan" }}selected{{ end }} label="deepcyan">deepcyan</option>
<option {{ if eq .default "deepgray" }}selected{{ end }} label="deepgray">deepgray</option>
<option {{ if eq .default "deepgreen" }}selected{{ end }} label="deepgreen">deepgreen</option>
<option {{ if eq .default "deepgrey" }}selected{{ end }} label="deepgrey">deepgrey</option>
<option {{ if eq .default "deepmagenta" }}selected{{ end }} label="deepmagenta">deepmagenta</option>
<option {{ if eq .default "deepred" }}selected{{ end }} label="deepred">deepred</option>
<option {{ if eq .default "deepyellow" }}selected{{ end }} label="deepyellow">deepyellow</option>
<option {{ if eq .default "fuchsia" }}selected{{ end }} label="fuchsia">fuchsia</option>
<option {{ if eq .default "gray" }}selected{{ end }} label="gray">gray</option>
<option {{ if eq .default "green" }}selected{{ end }} label="green">green</option>
<option {{ if eq .default "grey" }}selected{{ end }} label="grey">grey</option>
<option {{ if eq .default "heavyblue" }}selected{{ end }} label="heavyblue">heavyblue</option>
<option {{ if eq .default "heavycyan" }}selected{{ end }} label="heavycyan">heavycyan</option>
<option {{ if eq .default "heavygray" }}selected{{ end }} label="heavygray">heavygray</option>
<option {{ if eq .default "heavygreen" }}selected{{ end }} label="heavygreen">heavygreen</option>
<option {{ if eq .default "heavygrey" }}selected{{ end }} label="heavygrey">heavygrey</option>
<option {{ if eq .default "heavymagenta" }}selected{{ end }} label="heavymagenta">heavymagenta</option>
<option {{ if eq .default "heavyred" }}selected{{ end }} label="heavyred">heavyred</option>
<option {{ if eq .default "lightblue" }}selected{{ end }} label="lightblue">lightblue</option>
<option {{ if eq .default "lightcyan" }}selected{{ end }} label="lightcyan">lightcyan</option>
<option {{ if eq .default "lightgray" }}selected{{ end }} label="lightgray">lightgray</option>
<option {{ if eq .default "lightgreen" }}selected{{ end }} label="lightgreen">lightgreen</option>
<option {{ if eq .default "lightgrey" }}selected{{ end }} label="lightgrey">lightgrey</option>
<option {{ if eq .default "lightmagenta" }}selected{{ end }} label="lightmagenta">lightmagenta</option>
<option {{ if eq .default "lightolive" }}selected{{ end }} label="lightolive">lightolive</option>
<option {{ if eq .default "lightred" }}selected{{ end }} label="lightred">lightred</option>
<option {{ if eq .default "lightyellow" }}selected{{ end }} label="lightyellow">lightyellow</option>
<option {{ if eq .default "Magenta" }}selected{{ end }} label="Magenta">Magenta</option>
<option {{ if eq .default "magenta" }}selected{{ end }} label="magenta">magenta</option>
<option {{ if eq .default "mediumblue" }}selected{{ end }} label="mediumblue">mediumblue</option>
<option {{ if eq .default "mediumcyan" }}selected{{ end }} label="mediumcyan">mediumcyan</option>
<option {{ if eq .default "mediumgray" }}selected{{ end }} label="mediumgray">mediumgray</option>
<option {{ if eq .default "mediumgreen" }}selected{{ end }} label="mediumgreen">mediumgreen</option>
<option {{ if eq .default "mediumgrey" }}selected{{ end }} label="mediumgrey">mediumgrey</option>
<option {{ if eq .default "mediummagenta" }}selected{{ end }} label="mediummagenta">mediummagenta</option>
<option {{ if eq .default "mediumred" }}selected{{ end }} label="mediumred">mediumred</option>
<option {{ if eq .default "mediumyellow" }}selected{{ end }} label="mediumyellow">mediumyellow</option>
<option {{ if eq .default "olive" }}selected{{ end }} label="olive">olive</option>
<option {{ if eq .default "orange" }}selected{{ end }} label="orange">orange</option>
<option {{ if eq .default "paleblue" }}selected{{ end }} label="paleblue">paleblue</option>
<option {{ if eq .default "palecyan" }}selected{{ end }} label="palecyan">palecyan</option>
<option {{ if eq .default "palegray" }}selected{{ end }} label="palegray">palegray</option>
<option {{ if eq .default "palegreen" }}selected{{ end }} label="palegreen">palegreen</option>
<option {{ if eq .default "palegrey" }}selected{{ end }} label="palegrey">palegrey</option>
<option {{ if eq .default "palemagenta" }}selected{{ end }} label="palemagenta">palemagenta</option>
<option {{ if eq .default "palered" }}selected{{ end }} label="palered">palered</option>
<option {{ if eq .default "paleyellow" }}selected{{ end }} label="paleyellow">paleyellow</option>
<option {{ if eq .default "pink" }}selected{{ end }} label="pink">pink</option>
<option {{ if eq .default "purple" }}selected{{ end }} label="purple">purple</option>
<option {{ if eq .default "red" }}selected{{ end }} label="red">red</option>
<option {{ if eq .default "royalblue" }}selected{{ end }} label="royalblue">royalblue</option>
<option {{ if eq .default "salmon" }}selected{{ end }} label="salmon">salmon</option>
<option {{ if eq .default "springgreen" }}selected{{ end }} label="springgreen">springgreen</option>
<option {{ if eq .default "white" }}selected{{ end }} label="white">white</option>
<option {{ if eq .default "Yellow" }}selected{{ end }} label="Yellow">Yellow</option>
<option {{ if eq .default "yellow" }}selected{{ end }} label="yellow">yellow</option>
