<!--
SPDX-FileCopyrightText: 2021-2 Galagic Limited, et al. <https://galagic.com>

SPDX-License-Identifier: AGPL-3.0-or-later

figular generates visualisations from flexible, reusable parts

For full copyright information see the AUTHORS file at the top-level
directory of this distribution or at
[AUTHORS](https://gitlab.com/thegalagic/figular/AUTHORS.md)

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<option{{ if eq .default "Avant Garde" }} selected{{ end }} label="Avant Garde">Avant Garde</option>
<option{{ if eq .default "Bookman" }} selected{{ end }} label="Bookman">Bookman</option>
<option{{ if eq .default "Computer Modern Roman" }} selected{{ end }} label="Computer Modern Roman">Computer Modern Roman</option>
<option{{ if eq .default "Computer Modern Sans" }} selected{{ end }} label="Computer Modern Sans">Computer Modern Sans</option>
<option{{ if eq .default "Computer Modern Teletype" }} selected{{ end }} label="Computer Modern Teletype">Computer Modern Teletype</option>
<option{{ if eq .default "Courier" }} selected{{ end }} label="Courier">Courier</option>
<option{{ if eq .default "DejaVu Sans" }} selected{{ end }} label="DejaVu Sans">DejaVu Sans</option>
<option{{ if eq .default "Helvetica" }} selected{{ end }} label="Helvetica">Helvetica</option>
<option{{ if eq .default "New Century Schoolbook" }} selected{{ end }} label="New Century Schoolbook">New Century Schoolbook</option>
<option{{ if eq .default "Palatino" }} selected{{ end }} label="Palatino">Palatino</option>
<option{{ if eq .default "Symbol" }} selected{{ end }} label="Symbol">Symbol</option>
<option{{ if eq .default "Times New Roman" }} selected{{ end }} label="Times New Roman">Times New Roman</option>
<option{{ if eq .default "Zapf Chancery" }} selected{{ end }} label="Zapf Chancery">Zapf Chancery</option>
<option{{ if eq .default "Zapf Dingbats" }} selected{{ end }} label="Zapf Dingbats">Zapf Dingbats</option>
