<!--
SPDX-FileCopyrightText: 2021-2 Galagic Limited, et al. <https://galagic.com>

SPDX-License-Identifier: AGPL-3.0-or-later

figular generates visualisations from flexible, reusable parts

For full copyright information see the AUTHORS file at the top-level
directory of this distribution or at
[AUTHORS](https://gitlab.com/thegalagic/figular/AUTHORS.md)

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

{{ $ := .root }}
{{ $page := .page }}
{{ $autolink := default true $page.Params.autolink }}
{{ $data := site.Params }}

<div id="servicestatus" class="d-none alert alert-danger" role="alert">
  Sorry! Our public service is not available at the moment, we're looking into why.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <hr>
  <p><small>You can get a taste of what it can do below, but the figure will not update in response to changes yet. Check our
    social media accounts to see the latest updates or get in touch <a href="#feedback">below</a>.</small></p>
</div>
<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ $page.Params.title }}</h1>
    <form data-figular="{{ $page.Params.figure_url }}">
      <div class="form-group row">
        <small id="helpBlock" class="form-text text-muted">
          {{ $page.Params.help }} <a href="{{ $page.Params.help_link }}">Learn more</a>.
        </small>
      </div>
      <div class="row py-0">
        <div class="col">
          <h2 class="mt-0">Data</h2>
        </div>
      </div>

      {{ if eq $page.Params.figure_url "concept/circle" }}

      <div class="form-group row">
        <label for="{{ $page.Params.data_area_id }}" class="col-sm-4 col-form-label d-none">{{ $page.Params.data_area_label }}</label>
        <textarea id="{{ $page.Params.data_area_id }}" class="form-control" rows="5" aria-describedby="helpBlock" data-figular="data">
{{ $page.Params.example_content }}</textarea>
      </div>
      <div class="row py-0">
        <div class="col">
          <h2 class="mt-0">Styling</h2>
        </div>
      </div>
      <div class="accordian" id="accordianFigure">
        <div class="card">
          <div class="card-header" id="headingFigure">
            <div class="container">
              <div class="row">
                <div class="col px-0">
                  <span class="align-middle">Figure</span>
                </div>
                <div class="col px-0">
                  <p class="text-right">
                    <button class="btn btn-link btn-outline" type="button" data-toggle="collapse" data-target="#collapseFigure" aria-expanded="true" aria-controls="collapseFigure">
                      <i class="fa-solid fa-minimize"></i>
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div id="collapseFigure" class="collapse show" aria-labelledby="headingFigure" data-parent="#accordianFigure">
            <div class="card-body">
              <div class="form-group row">
                <label for="rotation" class="col-sm-4 col-form-label">Rotation</label>
                <label for="rotation_text" class="col-sm-4 col-form-label d-none">Rotation</label>
                <div class="col-sm-8">
                  <input type="range" class="form-control" id="rotation" name="rotation"
                         value="0" min="0" max="360" data-figular="style.figure_concept_circle.rotation">
                  <input id="rotation_text" class="form-control" value="0"/>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-4">Centralise</div>
                <div class="col-sm-8">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="centralise_first" checked data-figular="style.figure_concept_circle.middle">
                    <label class="form-check-label" for="centralise_first">First item</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordian" id="accordianCircle">
        <div class="card">
          <div class="card-header" id="headingCircle">
            <div class="container">
              <div class="row">
                <div class="col px-0">
                  <span class="align-middle">Circle</span>
                </div>
                <div class="col px-0">
                  <p class="text-right">
                    <button class="btn btn-link btn-outline" type="button" data-toggle="collapse" data-target="#collapseCircle" aria-expanded="true" aria-controls="collapseCircle">
                      <i class="fa-solid fa-minimize"></i>
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div id="collapseCircle" class="collapse show" aria-labelledby="headingCircle" data-parent="#accordianCircle">
            <div class="card-body">
              <div class="form-group row">
                <label for="background_color" class="col-sm-4 col-form-label">Background Color</label>
                <div class="col-sm-8">
                  <select class="form-control form-control" id="background_color" data-figular="style.circle.background_color">
                    {{ partial "colors.html" (dict "default" "heavygray") }}
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="border_color" class="col-sm-4 col-form-label">Border Color</label>
                <div class="col-sm-8">
                  <select class="form-control form-control" id="border_color" data-figular="style.circle.border_color">
                    {{ partial "colors.html" (dict "default" "black") }}
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="border_style" class="col-sm-4 col-form-label">Border Style</label>
                <div class="col-sm-8">
                  <select class="form-control form-control" id="border_style" data-figular="style.circle.border_style">
                    {{ partial "border_styles.html" (dict "default" "solid") }}
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="border_width" class="col-sm-4 col-form-label">Border Width</label>
                <label for="border_width_text" class="col-sm-4 col-form-label d-none">Border Width</label>
                <div class="col-sm-8">
                  <input type="range" class="form-control" id="border_width" name="border_width"
                         value="0" min="0" max="100" data-figular="style.circle.border_width">
                  <input id="border_width_text" class="form-control" value="0"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordian" id="accordianTextBox">
        <div class="card">
          <div class="card-header" id="headingTextBox">
            <div class="container">
              <div class="row">
                <div class="col px-0">
                  <span class="align-middle">Text Box</span>
                </div>
                <div class="col px-0">
                  <p class="text-right">
                    <button class="btn btn-link btn-outline" type="button" data-toggle="collapse" data-target="#collapseTextBox" aria-expanded="true" aria-controls="collapseTextBox">
                      <i class="fa-solid fa-minimize"></i>
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div id="collapseTextBox" class="collapse show" aria-labelledby="headingTextBox" data-parent="#accordianTextBox">
            <div class="card-body">
              <div class="form-group row">
                <label for="color" class="col-sm-4 col-form-label">Color</label>
                <div class="col-sm-8">
                  <select class="form-control form-control" id="color" data-figular="style.textbox.color">
                    {{ partial "colors.html" (dict "default" "lightgray") }}
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="font_size" class="col-sm-4 col-form-label">Font Size</label>
                <label for="font_size_text" class="col-sm-4 col-form-label d-none">Font Size</label>
                <div class="col-sm-8">
                  <input type="range" class="form-control" id="font_size" name="font_size"
                         value="12" min="6" max="300" data-figular="style.textbox.font_size">
                  <input id="font_size_text" class="form-control" value="12"/>
                </div>
              </div>
              <div class="form-group row">
                <label for="font" class="col-sm-4 col-form-label">Font</label>
                <div class="col-sm-8">
                  <select class="form-control form-control" id="font" data-figular="style.textbox.font_family">
                    {{ partial "font_families.html" (dict "default" "Computer Modern Roman") }}
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="font_weight" class="col-sm-4 col-form-label">Font Weight</label>
                <div class="col-sm-8">
                  <select class="form-control form-control" id="font_weight" data-figular="style.textbox.font_weight">
                    {{ partial "font_weights.html" (dict "default" "normal") }}
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{ else if eq $page.Params.figure_url "org/orgchart" }}
    <div class="form-group row">
      <label for="{{ $page.Params.data_area_id }}" class="col-sm-4 col-form-label d-none">{{ $page.Params.data_area_label }}</label>
      <textarea id="{{ $page.Params.data_area_id }}" class="form-control" rows="5" aria-describedby="helpBlock" data-figular="data" data-figular-transform="tabtopipe">
{{ $page.Params.example_content }}</textarea>
    </div>
    <div class="row py-0">
      <div class="col">
        <h2 class="mt-0">Styling</h2>
      </div>
    </div>
    <div class="accordian" id="accordianFigure">
      <div class="card">
        <div class="card-header" id="headingFigure">
          <div class="container">
            <div class="row">
              <div class="col px-0">
                <span class="align-middle">Figure</span>
              </div>
              <div class="col px-0">
                <p class="text-right">
                  <button class="btn btn-link btn-outline" type="button" data-toggle="collapse" data-target="#collapseFigure" aria-expanded="true" aria-controls="collapseFigure">
                    <i class="fa-solid fa-minimize"></i>
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id="collapseFigure" class="collapse show" aria-labelledby="headingFigure" data-parent="#accordianFigure">
          <div class="card-body">
            <div class="form-group row">
              <div class="col-sm-4">Wide Layout</div>
              <div class="col-sm-8">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="landscape" data-figular="style.figure_org_orgchart.landscape">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-4">Tight Layers</div>
              <div class="col-sm-8">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="tuck" data-figular="style.figure_org_orgchart.tuck">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="horizspacing" class="col-sm-4 col-form-label">Horiz. Spacing</label>
              <label for="horizspacing_text" class="col-sm-4 col-form-label d-none">Horizontal Spacing</label>
              <div class="col-sm-8">
                <input type="range" class="form-control" id="horizspacing" name="horizspacing"
                       value="80" min="0" max="300" data-figular="style.figure_org_orgchart.horizspacing">
                <input id="horizspacing_text" class="form-control" value="80"/>
              </div>
            </div>
            <div class="form-group row">
              <label for="vertspacing" class="col-sm-4 col-form-label">Vert. Spacing</label>
              <label for="vertspacing_text" class="col-sm-4 col-form-label d-none">Vertical Spacing</label>
              <div class="col-sm-8">
                <input type="range" class="form-control" id="vertspacing" name="vertspacing"
                       value="120" min="0" max="300" data-figular="style.figure_org_orgchart.vertspacing">
                <input id="vertspacing_text" class="form-control" value="120"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordian" id="accordianShape">
      <div class="card">
        <div class="card-header" id="headingShape">
          <div class="container">
            <div class="row">
              <div class="col px-0">
                <span class="align-middle">Shape</span>
              </div>
              <div class="col px-0">
                <p class="text-right">
                  <button class="btn btn-link btn-outline" type="button" data-toggle="collapse" data-target="#collapseShape" aria-expanded="true" aria-controls="collapseShape">
                    <i class="fa-solid fa-minimize"></i>
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id="collapseShape" class="collapse show" aria-labelledby="headingShape" data-parent="#accordianShape">
          <div class="card-body">
            <div class="form-group row">
              <label for="background_color" class="col-sm-4 col-form-label">Background Color</label>
              <div class="col-sm-8">
                <select class="form-control form-control" id="background_color" data-figular="style.shape.background_color">
                    {{ partial "colors.html" (dict "default" "heavygray") }}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="border_color" class="col-sm-4 col-form-label">Border Color</label>
              <div class="col-sm-8">
                <select class="form-control form-control" id="border_color" data-figular="style.shape.border_color">
                    {{ partial "colors.html" (dict "default" "black") }}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="border_style" class="col-sm-4 col-form-label">Border Style</label>
              <div class="col-sm-8">
                <select class="form-control form-control" id="border_style" data-figular="style.shape.border_style">
                  {{ partial "border_styles.html" (dict "default" "solid") }}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="border_width" class="col-sm-4 col-form-label">Border Width</label>
              <label for="border_width_text" class="col-sm-4 col-form-label d-none">Border Width</label>
              <div class="col-sm-8">
                <input type="range" class="form-control" id="border_width" name="border_width"
                       value="0" min="0" max="100" data-figular="style.shape.border_width">
                <input id="border_width_text" class="form-control" value="0"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordian" id="accordianTitles">
      <div class="card">
        <div class="card-header" id="headingTitles">
          <div class="container">
            <div class="row">
              <div class="col px-0">
                <span class="align-middle">Titles</span>
              </div>
              <div class="col px-0">
                <p class="text-right">
                  <button class="btn btn-link btn-outline" type="button" data-toggle="collapse" data-target="#collapseTitles" aria-expanded="true" aria-controls="collapseTitles">
                    <i class="fa-solid fa-minimize"></i>
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id="collapseTitles" class="collapse show" aria-labelledby="headingTitles" data-parent="#accordianTitles">
          <div class="card-body">
            <div class="form-group row">
              <label for="title_color" class="col-sm-4 col-form-label">Color</label>
              <div class="col-sm-8">
                <select class="form-control form-control" id="title_color" data-figular="style.shape.textbox_nth_child_1.color">
                    {{ partial "colors.html" (dict "default" "lightgray") }}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="title_font_size" class="col-sm-4 col-form-label">Font Size</label>
              <label for="title_font_size_text" class="col-sm-4 col-form-label d-none">Font Size</label>
              <div class="col-sm-8">
                <input type="range" class="form-control" id="title_font_size" name="font_size"
                       value="12" min="6" max="300" data-figular="style.shape.textbox_nth_child_1.font_size">
                <input id="title_font_size_text" class="form-control" value="12"/>
              </div>
            </div>
            <div class="form-group row">
              <label for="title_font" class="col-sm-4 col-form-label">Font</label>
              <div class="col-sm-8">
                <select class="form-control form-control" id="title_font" data-figular="style.shape.textbox_nth_child_1.font_family">
                  {{ partial "font_families.html" (dict "default" "Computer Modern Roman") }}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="title_font_weight" class="col-sm-4 col-form-label">Font Weight</label>
              <div class="col-sm-8">
                <select class="form-control form-control" id="title_font_weight" data-figular="style.shape.textbox_nth_child_1.font_weight">
                  {{ partial "font_weights.html" (dict "default" "bold") }}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordian" id="accordianSubtitles">
      <div class="card">
        <div class="card-header" id="headingSubtitles">
          <div class="container">
            <div class="row">
              <div class="col px-0">
                <span class="align-middle">Subtitles</span>
              </div>
              <div class="col px-0">
                <p class="text-right">
                  <button class="btn btn-link btn-outline" type="button" data-toggle="collapse" data-target="#collapseSubtitles" aria-expanded="true" aria-controls="collapseSubtitles">
                    <i class="fa-solid fa-minimize"></i>
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id="collapseSubtitles" class="collapse show" aria-labelledby="headingSubtitles" data-parent="#accordianSubtitles">
          <div class="card-body">
            <div class="form-group row">
              <label for="subtitle_color" class="col-sm-4 col-form-label">Color</label>
              <div class="col-sm-8">
                <select class="form-control form-control" id="subtitle_color" data-figular="style.shape.textbox_nth_child_3.color">
                    {{ partial "colors.html" (dict "default" "lightgray") }}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="subtitle_font_size" class="col-sm-4 col-form-label">Font Size</label>
              <label for="subtitle_font_size_text" class="col-sm-4 col-form-label d-none">Font Size</label>
              <div class="col-sm-8">
                <input type="range" class="form-control" id="subtitle_font_size" name="font_size"
                       value="9" min="6" max="300" data-figular="style.shape.textbox_nth_child_3.font_size">
                <input id="subtitle_font_size_text" class="form-control" value="9"/>
              </div>
            </div>
            <div class="form-group row">
              <label for="subtitle_font" class="col-sm-4 col-form-label">Font</label>
              <div class="col-sm-8">
                <select class="form-control form-control" id="subtitle_font" data-figular="style.shape.textbox_nth_child_3.font_family">
                  {{ partial "font_families.html" (dict "default" "Helvetica") }}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="subtitle_font_weight" class="col-sm-4 col-form-label">Font Weight</label>
              <div class="col-sm-8">
                <select class="form-control form-control" id="subtitle_font_weight" data-figular="style.shape.textbox_nth_child_3.font_weight">
                  {{ partial "font_weights.html" (dict "default" "normal") }}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ else if eq $page.Params.figure_url "time/timeline" }}
    <div class="form-group row">
      <label for="{{ $page.Params.data_area_id }}" class="col-sm-4 col-form-label d-none">{{ $page.Params.data_area_label }}</label>
      <textarea id="{{ $page.Params.data_area_id }}" class="form-control" rows="5" aria-describedby="helpBlock" data-figular="data" data-figular-transform="tabtopipe">
{{ $page.Params.example_content }}</textarea>
    </div>
    <div class="row py-0">
      <div class="col">
        <h2 class="mt-0">Styling</h2>
      </div>
    </div>
    <div class="accordian" id="accordianShape">
      <div class="card">
        <div class="card-header" id="headingShape">
          <div class="container">
            <div class="row">
              <div class="col px-0">
                <span class="align-middle">Shape</span>
              </div>
              <div class="col px-0">
                <p class="text-right">
                  <button class="btn btn-link btn-outline" type="button" data-toggle="collapse" data-target="#collapseShape" aria-expanded="true" aria-controls="collapseShape">
                    <i class="fa-solid fa-minimize"></i>
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id="collapseShape" class="collapse show" aria-labelledby="headingShape" data-parent="#accordianShape">
          <div class="card-body">
            <div class="form-group row">
              <label for="background_color" class="col-sm-4 col-form-label">Background Color</label>
              <div class="col-sm-8">
                <select class="form-control form-control" id="background_color" data-figular="style.shape.background_color">
                    {{ partial "colors.html" (dict "default" "heavygray") }}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="border_color" class="col-sm-4 col-form-label">Border Color</label>
              <div class="col-sm-8">
                <select class="form-control form-control" id="border_color" data-figular="style.shape.border_color">
                    {{ partial "colors.html" (dict "default" "black") }}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="border_style" class="col-sm-4 col-form-label">Border Style</label>
              <div class="col-sm-8">
                <select class="form-control form-control" id="border_style" data-figular="style.shape.border_style">
                  {{ partial "border_styles.html" (dict "default" "solid") }}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="border_width" class="col-sm-4 col-form-label">Border Width</label>
              <label for="border_width_text" class="col-sm-4 col-form-label d-none">Border Width</label>
              <div class="col-sm-8">
                <input type="range" class="form-control" id="border_width" name="border_width"
                       value="0" min="0" max="100" data-figular="style.shape.border_width">
                <input id="border_width_text" class="form-control" value="0"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordian" id="accordianTitles">
      <div class="card">
        <div class="card-header" id="headingTitles">
          <div class="container">
            <div class="row">
              <div class="col px-0">
                <span class="align-middle">Titles</span>
              </div>
              <div class="col px-0">
                <p class="text-right">
                  <button class="btn btn-link btn-outline" type="button" data-toggle="collapse" data-target="#collapseTitles" aria-expanded="true" aria-controls="collapseTitles">
                    <i class="fa-solid fa-minimize"></i>
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id="collapseTitles" class="collapse show" aria-labelledby="headingTitles" data-parent="#accordianTitles">
          <div class="card-body">
            <div class="form-group row">
              <label for="title_color" class="col-sm-4 col-form-label">Color</label>
              <div class="col-sm-8">
                <select class="form-control form-control" id="title_color" data-figular="style.shape.textbox_nth_child_2.color">
                    {{ partial "colors.html" (dict "default" "lightgray") }}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="title_font_size" class="col-sm-4 col-form-label">Font Size</label>
              <label for="title_font_size_text" class="col-sm-4 col-form-label d-none">Font Size</label>
              <div class="col-sm-8">
                <input type="range" class="form-control" id="title_font_size" name="font_size"
                       value="12" min="6" max="300" data-figular="style.shape.textbox_nth_child_2.font_size">
                <input id="title_font_size_text" class="form-control" value="12"/>
              </div>
            </div>
            <div class="form-group row">
              <label for="title_font" class="col-sm-4 col-form-label">Font</label>
              <div class="col-sm-8">
                <select class="form-control form-control" id="title_font" data-figular="style.shape.textbox_nth_child_2.font_family">
                  {{ partial "font_families.html" (dict "default" "Computer Modern Roman") }}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="title_font_weight" class="col-sm-4 col-form-label">Font Weight</label>
              <div class="col-sm-8">
                <select class="form-control form-control" id="title_font_weight" data-figular="style.shape.textbox_nth_child_2.font_weight">
                  {{ partial "font_weights.html" (dict "default" "bold") }}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordian" id="accordianSubtitles">
      <div class="card">
        <div class="card-header" id="headingSubtitles">
          <div class="container">
            <div class="row">
              <div class="col px-0">
                <span class="align-middle">Entries</span>
              </div>
              <div class="col px-0">
                <p class="text-right">
                  <button class="btn btn-link btn-outline" type="button" data-toggle="collapse" data-target="#collapseSubtitles" aria-expanded="true" aria-controls="collapseSubtitles">
                    <i class="fa-solid fa-minimize"></i>
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id="collapseSubtitles" class="collapse show" aria-labelledby="headingSubtitles" data-parent="#accordianSubtitles">
          <div class="card-body">
            <div class="form-group row">
              <label for="subtitle_color" class="col-sm-4 col-form-label">Color</label>
              <div class="col-sm-8">
                <select class="form-control form-control" id="subtitle_color" data-figular="style.shape.textbox_nth_child_1.color">
                    {{ partial "colors.html" (dict "default" "lightgray") }}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="subtitle_font_size" class="col-sm-4 col-form-label">Font Size</label>
              <label for="subtitle_font_size_text" class="col-sm-4 col-form-label d-none">Font Size</label>
              <div class="col-sm-8">
                <input type="range" class="form-control" id="subtitle_font_size" name="font_size"
                       value="9" min="6" max="300" data-figular="style.shape.textbox_nth_child_1.font_size">
                <input id="subtitle_font_size_text" class="form-control" value="9"/>
              </div>
            </div>
            <div class="form-group row">
              <label for="subtitle_font" class="col-sm-4 col-form-label">Font</label>
              <div class="col-sm-8">
                <select class="form-control form-control" id="subtitle_font" data-figular="style.shape.textbox_nth_child_1.font_family">
                  {{ partial "font_families.html" (dict "default" "Helvetica") }}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="subtitle_font_weight" class="col-sm-4 col-form-label">Font Weight</label>
              <div class="col-sm-8">
                <select class="form-control form-control" id="subtitle_font_weight" data-figular="style.shape.textbox_nth_child_1.font_weight">
                  {{ partial "font_weights.html" (dict "default" "normal") }}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordian" id="accordianLines">
      <div class="card">
        <div class="card-header" id="headingLines">
          <div class="container">
            <div class="row">
              <div class="col px-0">
                <span class="align-middle">Lines</span>
              </div>
              <div class="col px-0">
                <p class="text-right">
                  <button class="btn btn-link btn-outline" type="button" data-toggle="collapse" data-target="#collapseLines" aria-expanded="true" aria-controls="collapseLines">
                    <i class="fa-solid fa-minimize"></i>
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id="collapseLines" class="collapse show" aria-labelledby="headingLines" data-parent="#accordianLines">
          <div class="card-body">
            <div class="form-group row">
              <label for="subtitle_color" class="col-sm-4 col-form-label">Color</label>
              <div class="col-sm-8">
                <select class="form-control form-control" id="subtitle_color" data-figular="style.line.border_color">
                    {{ partial "colors.html" (dict "default" "heavygray") }}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="border_style" class="col-sm-4 col-form-label">Style</label>
              <div class="col-sm-8">
                <select class="form-control form-control" id="border_style" data-figular="style.line.border_style">
                  {{ partial "border_styles.html" (dict "default" "solid") }}
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="border_width" class="col-sm-4 col-form-label">Width</label>
              <label for="border_width_text" class="col-sm-4 col-form-label d-none">Border Width</label>
              <div class="col-sm-8">
                <input type="range" class="form-control" id="border_width" name="border_width"
                       value="1" min="0" max="100" data-figular="style.line.border_width">
                <input id="border_width_text" class="form-control" value="1"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
    </form>
    <p>We do not track you, see our <a href="/privacy/">privacy policy</a>.</p>
  </div>
  <div id="divResult" class="col-12 col-lg-8 py-3">
    <div class="flex-row">
      <div id="status_figure_data_large" class="alert alert-danger d-none" role="alert">
        Sorry we were unable to fetch your figure - the data provided was <span class="font-weight-bold">too large</span>. There are some limitations on our figures right now, for guidance see <a href="https://gitlab.com/thegalagic/figular/-/blob/main/docs/figures/concept/circle.md">our docs</a>. To help us improve please get in touch <a href="#feedback">below</a>.
      </div>
      <div id="status_figure_data_bad" class="alert alert-danger d-none" role="alert">
        Sorry we were unable to fetch your figure - the data provided contains something we were <span class="font-weight-bold">unable to process</span>. There are some limitations on our figures, for guidance see <a href="https://gitlab.com/thegalagic/figular/-/blob/main/docs/figures/concept/circle.md">our docs</a>. To help us improve please get in touch <a href="#feedback">below</a>.
      </div>
      <div id="status_figure_other" class="alert alert-danger d-none" role="alert">
        Sorry we were unable to fetch your figure. The problem has been logged for the attention of our tech team. If you'd like to be notified when the issue is resolved check our social media or get in touch <a href="#feedback">below</a>.
      </div>
      {{ if $page.Params.example_media }}
        {{ $example := resources.Get $page.Params.example_media | fingerprint }}
        <img id="resultImg" src="{{ $example.RelPermalink }}" class="img-fluid mx-auto" alt="Example" />
      {{ end }}
      <div id="spinner" class="d-none card-img-overlay justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <div id="download" class="row py-3 justify-content-end">
      <div class="col-auto">
        <div class="flex-row">
          {{ if $page.Params.example_media }}
            {{ $example := resources.Get $page.Params.example_media | fingerprint }}
            <a id="downloadLink" href="{{ $example.RelPermalink }}" download="{{ path.Base $example.Name }}" type="{{ $example.MediaType }}">
          {{ else }}
            <a id="downloadLink">
          {{ end }}
            <button class="btn-primary btn-lg" type="button">Download</button>
          </a>
        </div>
        <div class="flex-row">
          <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="radio" name="options" id="output_format_png" checked>PNG
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="output_format_svg">SVG
            </label>
          </div>
        </div>
      </div>
    </div>
    <div id="feedback" class="row flex-row-reverse">
      <p>Not what you expected? Please feedback below.</p>
    </div>
  </div>
</div>

<!-- Here we build our Hugo config into our JS
  [JavaScript Building | Hugo](https://gohugo.io/hugo-pipes/js/) -->
{{ $figure_timeout := 10000 }} <!-- default 10s -->
{{ if $.Site.Params.FIGULAR_FIGURE_TIMEOUT_MS }}
  {{ $figure_timeout = $.Site.Params.FIGULAR_FIGURE_TIMEOUT_MS }}
{{ end }}
{{ $opts := (dict "params" (dict "figure_timeout" $figure_timeout
                                 "domain" ($.Site.Params.FIGULAR_API_HOST)
                           )
            ) }}
{{ $figureJS := resources.Get "js/figular.js" | js.Build $opts | minify | fingerprint }}
<script defer type="text/javascript" src="{{ $figureJS.RelPermalink }}" integrity="{{ $figureJS.Data.Integrity }}"></script>
